body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 80%;
    background-color: honeydew;
}
#index-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 10px 20px;
    margin-left: 10%;
    width: 100% !important;
    border: 2px solid #4CAF50;
}
#index-nav h1{
    color: navy;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
#index-nav ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
     color: navy;
    font-size: 20px;
    font-weight: bold;
}
#logo img{
    height: 100px;
    width: 100px;
}

#index-section{
    display: flex;
    border: 2px solid #4CAF50;
    height: 70vh;
    margin-left: 12%;
    margin-top: 2%;
    width: 100%;

}
#index-section #article1,#index-section #article2,#index-section #article3,#index-section #article4{
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    width: 25%;
}

#index-section #article1 img,#index-section #article2 img,#index-section #article3 img,#index-section #article4 img{
    width: 200px;
    height: auto;
}   

p:first-letter{
    font-size: 32px;
    color: navy;
    line-height: 1.5;

}
p:first-line{
    font-weight: bold;
    color: goldenrod;
    font-family: 'Lucidatypewriter', monospace;
}
p{
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin-top: 10px;
    text-align: justify;
   column-count: 2;
    column-gap: 20px;
    column-rule: 1px dotted red;

}
