@keyframes ballanimation {
  0% {
    transform: translate(100px,0px);
    transition: all 0.8s ease-in-out;
  }
  10% {
    transform: translate(150px,70px);
    transition: all 0.5s ease-in-out;
  }
  20% {
    transform: translate(200px,-70px);
    transition: all 0.5s ease-in-out;
  }
  30% {
    transform: translate(250px,50px);
    transition: all 0.8s ease-in-out;
    opacity: 0.8;
  }
  40% {
    transform: translate(300px,70px);
    transition: all 0.5s ease-in-out;
  }
  50% {
    transform: translate(350px,50px);
    transition: all 0.7s ease-in-out;
    opacity: 0.6;
  }
  60% {
    transform: translate(400px,50px);
    transition: all 0.5s ease-in-out;
    opacity: 0.4;
  }
  70% {
    transform: translate(600px,200px);
    transition: all 0.6s ease-in-out;
     opacity: 0.1;
  }
  100% {
     transform: translate(1000px,200px);
     transition: all 0.6s ease-in-out;
     opacity: 0.0;
  }
}

#football {
  animation: ballanimation 2s infinite;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction:normal;
  animation-delay: 3s;
  animation-timing-function: linear;
  width: 100px;
  height: 100px;  
}